body {min-width: 1280px;}
/*********************************** HEADER ***********************************/
header {position: relative; text-align: center; height: 80px;} /*relative position for navlinks*/
/* header logo (left) */
header h1 {position: absolute; left: 50px; top: 0;}
header h1 a {display: block; width: 140px; height: 80px; display: flex; align-items: center;}

/* header menu */
header .menu li {display: inline-block;}
header .menu li a {display: block; height: 80px; padding: 0 35px; font-size: 17px; color: #333; line-height: 80px;} /* To make vertically center: set line-height equal to the height */
header .menu li a:hover {color: #2d5b79; font-weight: bold;}
/* header menu hover underline */
header .menu li a span {position: relative;} /*밑줄의 기준(a::after)*/
header .menu li a:hover span::after {content: ""; position: absolute; left: 0; bottom: -9px; 
    width: 100%; display: block; height: 1px; background: #2d5b79 ;}

/* header sidelinks (right) */
header .navlinks {position: absolute; right: 50px; top: 0;}  
header .navlinks li {position: relative; float: left;}
header .navlinks li a {display: block; height: 80px; line-height: 80px; padding: 0 10px;}
/* little bar in the header sidelink  */
header .navlinks li::before {content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 7px; 
    background-color: #ccc; transform: translateY(-50%);}
header .navlinks li:first-child::before {display: none;}
header .navlinks li:last-child a {padding-right: 0;}

/*********************************** VISUALS ***********************************/
.visuals {position: relative; padding: 0 50px;}

/***** Slide buttons *****/
/* visuals prev, next */
.slide-button .prev,
.slide-button .next {position: absolute; display: block; top: 50%; transform: translateY(-50%);
width:25px; height: 47px; background: url(../assets/sp_com.png) no-repeat; color: transparent; z-index: 5;}
.slide-button .prev {left: 82px; background-position: -128px -60px;}
.slide-button .next {right: 82px; background-position: -158px -60px;} 

/* slide controls 몇개를 더 넣어도 가운데 정렬로 가게 만들어야함 */ 
/* 오른쪽을 (play-pause 버튼) 고정으로 안움직이게. 나머지는 width 100%줘서 자동정렬하게 */
.slide-button .controls {position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center;}
.slide-button .controls .constrols-container {position: relative; display: inline-block; 
    padding: 0 45px 0 0;}
.slide-button .controls .constrols-container a {color: transparent;}
/* play-pause button */
.slide-button .controls .constrols-container .play-pause {position: absolute; right: 0; z-index: 5;}
.slide-button .controls .constrols-container .play-pause a {display: inline-block; width: 8px; height: 9px; margin:0 0 0 7px ; overflow: hidden; background: url(../assets/sp_com.png) no-repeat; opacity: 0.5;}
.slide-button .controls .constrols-container .play-pause a.p-on {opacity: 1;}
.slide-button .controls .constrols-container .play-pause a.play {background-position: -108px -72px;}
.slide-button .controls .constrols-container .play-pause a.pause {background-position: -108px -60px;}
/* slide button bars */
.slide-button .controls .constrols-container ul {display: inline-block; font-size: 0; position: relative; top:-7px; z-index: 5;}
.slide-button .controls .constrols-container li {display: inline-block; padding: 0 3px;}
.slide-button .controls .constrols-container li a {display: block; width: 50px; height: 3px; background: rgba(255, 255, 255, 0.5); border: none;}
.slide-button .controls .constrols-container ul li.bar-on {background: #fff;}

/* visuals slide background img */
.visuals .contents > div {height: 640px;}
.visuals .contents .slide {color: #fff; font-size: 23px; position: relative;} 
.visuals .contents .slide img {width: 100%; height: 100%; position: absolute; top: 0; z-index: -1; opacity: 0; transition: opacity .7s ease-in-out;}



.visuals .contents .slide img.showing {opacity: 1;}

/* visuals slide texts + icon */
 /* 아이콘은 before로도 구현가능  */
.visuals .contents .slide > div {position: relative;}
.visuals .contents .slide .slide-icon {position: absolute; top: 250px; left: 50%; width: 118px; height: 92px; transform: translateX(-50%); color:transparent; background: url(../assets/sp_com.png) no-repeat; background-position: -2px -260px;}
.visuals .contents .slide .txt {position: absolute; top: 365px; left: 50%; transform: translateX(-50%)}

/*********************************** PRODUCT CATEGORY ***********************************/
.product a {display: block; color: #001829;}
.product a:hover {color: #2d5b79; font-weight: bold;}
.product a::before {content: ""; display: block; width: 64px; height: 52px; margin: 0 0 26px; /*bottom margin for gap b/t icon and text*/ background: url(../assets/sp_com.png) no-repeat;}
.product ul {text-align: center; padding: 46px 0 41px;} /* positioning icons to the center */
.product li {display: inline-block; text-align: center; padding: 0 55px;}
/* fetching icons from the sp img */
.product li:nth-child(1) a::before {background-position: -3px -118px;}
.product li:nth-child(2) a::before {background-position: -75px -118px;}
.product li:nth-child(3) a::before {background-position: -148px -118px;}
.product li:nth-child(4) a::before {background-position: -219px -118px;}
.product li:nth-child(5) a::before {background-position: -293px -118px;}
.product li:nth-child(6) a::before {background-position: -365px -118px;}
/* icon hover effect */
.product li:nth-child(1) a:hover::before {background-position: -3px -184px; transform: scale(1.03);}
.product li:nth-child(2) a:hover::before {background-position: -75px -184px; transform: scale(1.03);} 
.product li:nth-child(3) a:hover::before {background-position: -148px -184px; transform: scale(1.03);}
.product li:nth-child(4) a:hover::before {background-position: -219px -184px; transform: scale(1.03);}
.product li:nth-child(5) a:hover::before {background-position: -293px -184px; transform: scale(1.03);}
.product li:nth-child(6) a:hover::before {background-position: -365px -184px; transform: scale(1.03);}


/*********************************** MAGAZINE SECTION ***********************************/

.magazine {position: relative; background: #dfd9d1 ; height: 670px; overflow: hidden; }
.magazine h2 {font-size: 28px; color: #000; text-align: center; padding: 50px 0 16px; line-height: 100%;}
.magazine p {text-align: center; font-size: 14px; color: #3a3b36; line-height: 100%;}

/* slide control for magazine */
.magazine.slide-button .controls {bottom: 48px;}
.magazine.slide-button .prev {left: 50%; margin: 26px 0 0 -640px;} /*positioning center*/
.magazine.slide-button .next {right: 50%; margin: 26px -640px 0 0;} /*positioning center*/

/* slide left box */
/* .magazine .slide-box {display: inline-block; width: 1556px; height: 496px;}  */
.magazine .slide-box > div {position: absolute; top: 150px; left: 50%; transform: translate(-50%, 0);
    width: 1180px; height: 430px; } 
.magazine .slide-box > div:nth-child(1) {margin-left: -1280px;} 
.magazine .slide-box > div:nth-child(3) {margin-left: 1280px;} 
.magazine .slide-box .left-box {position: relative; float: left; width: 800px; height: 430px; overflow: hidden;}
.magazine .slide-box .left-box img {width: 100%; height: 100%;}
.magazine .slide-box .left-box div {position: absolute; width: 200px; height: 100%; top: 0; right: 0; 
    padding: 40px 27px 0; background: rgba(0,0,0,0.5); box-sizing: border-box;}
.magazine .slide-box .left-box div h3 {color: #fff; font-size: 18px; line-height: 32px;}
.magazine .slide-box .left-box div h3 span {display: block; font-weight: normal;}
.magazine .slide-box .left-box div p {font-size: 14px; color: #fff; padding:9px 0 0; text-align: left; line-height: 24px;}
.magazine .slide-box .left-box div a {position: absolute; right: 20px; bottom: 40px; display: block; width: 160px; height: 45px; border:1px solid #fff; 
    font-size: 16px; color: #fff; text-align: center; line-height: 45px;}
/* slide right box */
.magazine .slide-box .right-box {float: right; width: 380px; height: 430px; 
    padding:20px 20px 0; background: #fff; box-sizing: border-box;}
.magazine .slide-box .right-box li {padding: 0 0 20px;}
.magazine .slide-box .right-box li a {position: relative; display: flex; align-items: center; height: 82px; padding: 0 0 0 100px; font-size: 16px; color: #333;}
.magazine .slide-box .right-box li a img {position: absolute; left:0; top:0;}
.magazine .slide-box .right-box li a strong {display: block; font-size: 13px; color: #000;}


/*********************************** NOTICE - SEARCH SECTION ***********************************/

.notice > div {width: 1180px; margin: 0 auto; padding: 55px 0; }
.notice > div .notice-top > ul {float: left;}
.notice > div .notice-top > ul a {display: block; width: 280px; height: 280px;
    text-align: center; padding-top: 150px; box-sizing: border-box; font-size: 17px; font-weight: bold;
    color: #fff;}
/* hovers */
.notice > div .notice-top > ul a:hover {background: rgba(45, 91, 121, 0.5);-webkit-transition: background 0.4s ease;}
.notice > div .notice-top > ul a span {display: block; position: relative; top: 10px ; font-weight: normal; font-size: 14px; padding-top: 20px; opacity: 0; transition: all 0.5s;}
.notice > div .notice-top > ul a:hover span {display: block; top: 0; opacity: 1;}
/* bg imgs */
.notice > div .notice-top > ul li {float: left; padding-right: 20px;}
.notice > div .notice-top > ul li:nth-child(1) {background: url(../assets/thumbview\ \(14\).jpeg) no-repeat;}
.notice > div .notice-top > ul li:nth-child(2) {background: url(../assets/thumbview\ \(21\).jpeg) no-repeat;}
.notice > div .notice-top > ul li:nth-child(2) a {color: #000;}
.notice > div .notice-top > ul li:nth-child(2) a:hover {color: #fff}
.notice > div .notice-top > ul li:nth-child(3) {background: url(../assets/bg_key_link03.jpg) no-repeat;}

/* product search */
.notice > div .notice-top > div {float: left; width: 280px; height: 280px;
background: #f2f0ed; padding: 36px 20px 0; box-sizing: border-box;}
.notice > div .notice-top > div h2 {font-size: 17px; color: #000; text-align: center; padding-bottom: 29px; line-height: 100%;}
.notice > div .notice-top > div div {padding-bottom: 10px;}
.notice > div .notice-top > div select,
.notice > div .notice-top > div input {width: 100%; height: 45px; border: none; padding: 0; text-indent: 20px;}
.notice > div .notice-top > div input::-webkit-input-placeholder {color: #949394; font-size: 14px;}
.notice > div .notice-top > div a {display: block; height: 45px; line-height: 45px; text-align: center; background: #2d5b79; color: #fff; font-size: 15px; margin-top: 20px;} 



/*********************************** NOTICE - NEWS SECTION ***********************************/
.notice article {padding-top: 20px;}
/* left-notice + common elements */
.notice article > div {position: relative; float: left; width: 580px; background: #f2f0ed;}
.notice article > div h2 {height: 77px; line-height: 77px; font-size: 24px; color: #2d5b79; text-align: center; border-bottom: 1px solid #fff;}
/* more button */
.notice article > div .more {position: absolute; right: 23px; top: 24px; width: 30px; height: 30px; background: url(../assets/sp_com.png) -196px -62px no-repeat #fff; border-radius: 30px; color: transparent;}

.notice article > div a {font-size: 16px; color: #424241;}
.notice article > div a p {font-size: 12px; color: #979797;}

/* left-notice */
.notice article > div.left-notice ul li {float: left; width: 50%; padding: 35px; box-sizing: border-box; border-left: 1px solid #fff ;}
.notice article > div.left-notice ul li:first-child {border: none;}
.notice article > div.left-notice ul li span {display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; line-height: 100%;}
.notice article > div.left-notice ul li p {padding: 24px 0 16px; line-height: 100%;}
.notice article > div.left-notice ul li div {line-height: 21px;}

/* right-news */
.notice article > div.right-news {float: right;}
.notice article > div.right-news ul li {position: relative; border-bottom: 1px solid #fff;}
.notice article > div.right-news ul li:last-child {border: none;}
.notice article > div.right-news ul li a {display: block; width: 400px; height: 60px; line-height: 60px; text-indent: 30px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis;}
.notice article > div.right-news ul li a p {position: absolute; right: 15px; top: 0;}


/*********************************** FOOTER ***********************************/
/***** footer top *****/
footer .footer-top {background: #383f43; margin-top: 70px;}

/* footer-top left (links) */
footer .footer-top > div {width: 1180px; margin: 0 auto; padding: 13px 0;}
footer .footer-top > div ul {float: left;}
footer .footer-top > div ul li {position: relative; float: left; padding: 0 19px 0 0;}
footer .footer-top > div ul li::after {position: absolute; content: ""; width: 1px; height: 8px; right: 9px; top: 50%; margin-top: -4px; background: #70767a;}
footer .footer-top > div ul li:last-child::after {display: none;}
footer .footer-top > div ul li a {line-height: 45px; color: #fff;}

/* footer-top right (contact, select) */
/* contact */
footer .footer-top > div div {float: right;}
footer .footer-top > div div p {display: inline-block; width: 242px; height: 45px; line-height: 45px; background: #2a3033; color: #fff; text-align: center; font-size: 13px; margin-right: 6px;}
footer .footer-top > div div p strong {font-size: 20px; padding: 0 0 0 15px}
/* select */
footer .footer-top > div div select {width: 200px; height: 44px; padding: 0 0 0 21px; color: #191919; font-size: 12px; box-sizing: border-box; border: none; vertical-align: 3px;} 

/***** footer bottom *****/
footer .footer-bottom {background: #4c5459; padding: 40px 0 44px; text-align: center; color: #fff;}
footer .footer-bottom p {display: inline-block; width: 100px; height: 40px; font-size: 17px; font-weight: bold;} 
footer .footer-bottom ul {padding: 14px 0 14px;}
footer .footer-bottom ul li {position: relative; display: inline-block; font-size: 14px; padding: 0 10px;} 
footer .footer-bottom ul li::after {content: ""; position: absolute; width: 1px; height: 8px; right: 0; top: 50%; margin-top: -4px; background: #70767a; }
footer .footer-bottom ul li:last-child::after {display: none;}
footer .footer-bottom address {font-size: 12px; color: #fff;}