/*********************************** HEADER ***********************************/
header {text-align: center; height: 80px;}
/* header logo (left) */
header h1 {position: absolute; left: 50px; top: 0;}
header h1 a {display: block; width: 140px; height: 80px; display: flex; align-items: center;}

/* header menu */
header .menu li {display: inline-block;}
header .menu li a {display: block; height: 80px; padding: 0 35px; font-size: 17px; color: #333; line-height: 80px;} /* To make vertically center: set line-height equal to the height */
header .menu li a:hover {color: #2d5b79; font-weight: bold;}
/* header menu hover underline */
header .menu li a span {position: relative;} /*밑줄의 기준(a::after)*/
header .menu li a:hover span::after {content: ""; position: absolute; left: 0; bottom: -9px; 
    width: 100%; display: block; height: 1px; background: #2d5b79 ;}

/* header sidelinks (right) */
header .navlinks {position: absolute; right: 50px; top: 0;}  
header .navlinks li {position: relative; float: left;}
header .navlinks li a {display: block; height: 80px; line-height: 80px; padding: 0 10px;}
/* little bar in the header sidelink  */
header .navlinks li::before {content: ""; position: absolute; left: 0; top: 50%; width: 1px; height: 7px; 
    background-color: #ccc; transform: translateY(-50%);}
header .navlinks li:first-child::before {display: none;}
header .navlinks li:last-child a {padding-right: 0;}

/*********************************** VISUALS ***********************************/
.visuals {position: relative; padding: 0 50px;}
/* visuals prev, next */
.visuals .prev,
.visuals .next {position: absolute; display: block; top: 50%; transform: translateY(-50%);
width:25px; height: 47px; background: url(../assets/sp_com.png) no-repeat; color: transparent;}
.visuals .prev {left: 82px; background-position: -128px -60px;}
.visuals .next {right: 82px; background-position: -158px -60px;} 

/* slide controls 몇개를 더 넣어도 가운데 정렬로 가게 만들어야함 */ 
/* 오른쪽을 (play-pause 버튼) 고정으로 안움직이게. 나머지는 width 100%줘서 자동정렬하게 */
.visuals .controls {position: absolute; left: 0; bottom: 55px; width: 100%; text-align: center;}
.visuals .controls .constrols-container {position: relative; display: inline-block; 
    padding: 0 45px 0 0;}
.visuals .controls .constrols-container a {color: transparent;}
/* play-pause button */
.visuals .controls .constrols-container .play-pause {position: absolute; right: 0;}
.visuals .controls .constrols-container .play-pause a {display: inline-block; width: 8px; height: 9px; margin:0 0 0 7px ;
    overflow: hidden; background: url(../assets/sp_com.png) no-repeat; opacity: 0.5;}
.visuals .controls .constrols-container .play-pause a.on {opacity: 1;}
.visuals .controls .constrols-container .play-pause a.play {background-position: -108px -72px;}
.visuals .controls .constrols-container .play-pause a.pause {background-position: -108px -60px;}
/* slide button bars */
.visuals .controls .constrols-container ul {display: inline-block; font-size: 0; position: relative; top:-7px; }
.visuals .controls .constrols-container li {display: inline-block; padding: 0 3px;}
.visuals .controls .constrols-container li a {display: block; width: 50px; height: 3px; 
    background: rgba(255, 255, 255, 0.5); border: none;}
.visuals .controls .constrols-container li.on a {background: #fff;}

/* visuals slide background img */
.visuals .contents > div {height: 640px;}
.visuals .contents .slide {background: url(../assets/bg_main02.jpg) no-repeat center;}